.aurora-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  min-width: 1000px;
  z-index: -1;
  pointer-events: none;
  transition: all 0.3s ease;

  &.processing {
    opacity: 0;
    visibility: hidden;
  }
}

.aurora-container canvas {
  width: 100% !important;
  height: 100% !important;
}
